<% provide(:title, 'Reset password') %>
<div class="row">
  <div class="col-md-4">
    <div class="card login-helper">
      <div class="card-header">
        <h2 class="card-title">Description and help</h2>
      </div>
      <div class="card-block">

      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Recover password</h2>
      </div>
      <div class="card-block">
        <%= form_for(@user, url: password_reset_token_path) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <div class="form-group">
              <%= f.text_field :password_reset_token, class: 'form-control', placeholder: 'Password reset token' %>
              <i class="form-group__bar"></i>
            </div>

            <%= f.submit 'Submit Token', class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
