<header class="header">
  <div class="header__logo">
    <h1><%= link_to 'Floworx', root_path %></h1>
  </div>

  <ul class="top-nav">
    <%= link_to login_path, class: 'btn btn-info' do %>
        Log in
        <i class="zmdi zmdi-account-add zmdi-hc-fw"></i>
    <% end %>

    <a href src="#" class="btn btn-info">
      Sign up
      <i class="zmdi zmdi-account zmdi-hc-fw"></i>
    </a>
  </ul>
</header>
