<header class="header">
  <div class="header__logo">
    <h1><%= link_to 'Floworx', root_path %></h1>
  </div>

  <ul class="top-nav">
  </ul>
  <ul class="nav top-menu">
    <li class="nav-item <%= active_action?('dashboard') %>">
      <a href="#" class="nav-link">Dashboard</a>
    </li>
  </ul>
</header>
