<% provide(:title, 'Pricing') %>
<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="row price-table price-table--basicrow">
      <div class="col-md-4">
        <div class="price-table__item">
          <header class="price-table__header bg-light-blue">
            <div class="price-table__title">Strawberry</div>
            <div class="price-table__desc">Pellentesque ornare lacinia venenatis</div>
          </header>
          <div class="price-table__price color-light-blue">
            £124.90 |
            <small>month</small>
          </div>
          <ul class="price-table__info">
            <li>In dapibus ipsum sit amet leo</li>
            <li>Vestibulum ut mauris tellus donec</li>
          </ul>
        </div>
      </div>
    
      <div class="col-md-4">
        <div class="price-table__item">
          <header class="price-table__header bg-red">
            <div class="price-table__title">Raspberry</div>
            <div class="price-table__desc">Nullam dolor nibh ultricies vehicula</div>
          </header>
          <div class="price-table__price color-red">
            £250.00 |
            <small>month</small>
          </div>
          <ul class="price-table__info">
            <li>Morbi leo risus porta acconseetur</li>
            <li>Nullam quis risus eget urna mollis ornare</li>
          </ul>
        </div>
      </div>
    
      <div class="col-md-4">
        <div class="price-table__item">
          <header class="price-table__header bg-purple">
            <div class="price-table__title">Cranberry</div>
            <div class="price-table__desc">Vivamus sagittis lacus augue laoreets</div>
          </header>
          <div class="price-table__price color-purple">
            £124.90 |
            <small>month</small>
          </div>
          <ul class="price-table__info">
            <li>Duis mollis estnon commodo luctus</li>
            <li>Vivamus sagittis lacus augue laoreeterest</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
